.header {
    margin-top: 1%;
    width: 80%;
    padding-bottom: 1%;
}

.header__logo {
    position: absolute;
    margin-left: 4%;
}

.header__navigation {
    float: right;
}

br {
    float: none;
}

.footer__navigation {
    margin-left: 50px;;
    width: 100%;
    float:none;
    }

.footer__navigation ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer__navigation li a {
    color: #5222D0;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}

.footer__navigation li:hover {
    cursor: pointer;
    border-bottom: 1px solid blue;
}

.container {
padding-left: 60px;
margin-bottom: 60px;
width: 80%;
}

.container__opportunities {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 3fr 1fr;
    justify-content: center;
    gap: 50px;
}

.container__opportunities__card {
    font-size: 20px;
}

.main-container {
    width: 70%;
    height: 74vh;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 60px;
}

.main-container__card{
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 350px 200px 200px;
}

.main-container__card__button {
    padding-left: 35px;
}

h1 {
font-size: 60px;
padding-left: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    padding-left: 40px;
}

.button_secondary, .button_primary {
    background-color: #5C4EAE;
    border-color: #5C4EAE;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    color: white;
}

.button_secondary {
    width: 270px;
    height: 84px;
    font-size: 35px;
}

.button_primary {
    width: 115px;
    height: 38px;
    font-size: 13px;
}

.button_secondary:hover,
.button_primary:hover {
    cursor: pointer;
}

.container__opportunities__form {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #EC615B;
    padding: 10px;
    justify-content: center;
}

.label {
    font-size: 30px;
    color: white;
}

.email {
width: 90%;
}
